.header{
    text-align: center;
    background-color: $white;
    margin-top: 10%;
    .photo{
        width: 10em;
        height: 10em;
        margin-top: -5%;
        border-radius: 50%;
    }
    .header-introduction{
        width: 98%;
        margin: auto;
        @include font-variant(20px);
        border-bottom: 3px solid $gray-light;
    }
    
}