.main{
    background-color: $white; 
    .about-me{
        padding: 1em;
        .about-me-title{
            @include font-variant(18px);
            color: $primary-color;    
        }
    }   
    
    .education{
        padding: 1em;
        padding-top: 0;
        width: 100%;

        .education-title{
            @include font-variant(18px);
            color: $primary-color;
        }

        .education-ul{
            > li{
                display: flex;
                .education-introduction-year{
                    margin-right: 100px;
                }
                
                .education-introduction-content{
                    width: 100%;
                    margin: 0;
                    padding: 1em;
                    background-color: $body-bg;
                    margin-bottom: 1em;;
                    > b{
                        display: block;
                    }
                }
            }
        }
    }


}